body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #DDD;
}

footer{
    display: flex;
    justify-content: center;
    background-color: orange;
    text-align: center;
}

.Logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: orange;
    font-size: 100px;
    width: 100%;
    filter: drop-shadow(0 5px 5px black);
}

.Dorfladen {
    padding: 20px;
    margin: 5px;
    color: white;
    text-shadow: 5px 5px 5px #222;
}

.BBZW {
    padding: 20px;
    margin: 5px;
    background-color: #FFF;
    color: orange;
    text-shadow: 5px 5px 5px #444;
}

.ShoppingbasketButtonParent{
    display: flex;
    justify-content: center;
}

.ShoppingbasketButton{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #AA7500;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    font-size: 20px;
    filter: drop-shadow(0 10px 10px black);
    transition: all .1s ease-in-out;
}

.ShoppingbasketButton:hover{
    transform: translateY(-2px);
}

.ProductOverviewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.ProductOverviewContainer img{
    max-width: 200px;
    border-radius: 5%;
}

.ProductOverviewElement {
    padding: 10px;
    background-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
    filter: drop-shadow(0 5px 5px black);
}

.ProductOverviewElement img{
    border-style: solid;
    border-width: 5px;
    border-color: #0000;
    transition: all 200ms ease-in-out;
}

.ProductOverviewElement:hover img{
    border-color: black;
}

.ButtonAddProduct {
    border-radius: 5px;
    background-color: #FFA500;
    text-align: center;
    transition: background-color 100ms ease-in-out;
}

.ButtonAddProduct:hover {
    background-color: #FFF;
}

.ProductDetail{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.ProductDetailTextParent{
    margin-left: 20px;
    position: relative;
    font-size: 2em;
}

.ProductDetail img{
    width: 100%;
    max-width: 350px;
    min-width: 0px;
    border-radius: 2em;
}

.BasePrice{
    color: #B00000;
}

.ProductName{
    font-weight: bold;
}

.ProductDetailTextParent .ProductName{
    color: orange;
    text-overflow: ellipsis;
}

.ShopingBasketParent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ProductBasketElement{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.ProductBasketTextParent{
    margin-left: 10px;
}

.ProductBasketElement img{
    max-height: 120px;
    border-radius: 5px;
}

.ShopingBasketProductNumberContainer{
    
}

.OrderForm{
    display: block;
    justify-content: center;
    
    margin-top: 50px;
    margin-bottom: 10px;
}

.OrderForm form{
    
}